.about {
  background: var(--color-primary);
  background: var(--color-primary);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 5px 2px var(--color-primary);
  margin: 0 4rem 0 0;
  padding: 3rem;

  &__title {
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px var(--color-secondary);
    margin-bottom: 3rem;
  }

  &__content {
    display: flex;

    &--text {
      font-size: 1.7rem;
      line-height: 1.5;
      margin-bottom: 2rem;
      max-width: 70ch;
    }

    & > img {
      border-radius: 30px;
      height: 300px;
      margin-left: 24rem;
      box-shadow: 0 0 5px 0px var(--color-secondary);
    }
  }
}
