.events {
  background: var(--color-primary);
  height: 40.5vh;
  background: var(--color-primary);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 5px 2px var(--color-primary);
  margin: 5rem 4rem 0 0;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;

  & > h2 {
    font-size: 8rem;
    background: linear-gradient(
      0.25turn,
      var(--color-secondary) 5%,
      rgb(255, 38, 0)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
