.features {
  flex-direction: column;
  gap: 2rem;
  margin-left: auto;
  border-radius: 30px 0 0 30px;
  overflow: visible;

  &__block {
    width: 600px;
    height: 200px;
    border: 2px solid var(--color-secondary);
    box-shadow: 0 0 5px 0px var(--color-secondary);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    gap: 4rem;
  }

  &__img {
    border-radius: 15px;
  }

  &__img:nth-child(2) {
    margin-left: auto;
  }

  &__list {
    margin: auto;
    font-size: 1.5rem;
    list-style-type: none;
    line-height: 3.5rem;

    & > li > span {
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  &::before,
  &::after {
    content: "";
    background-color: var(--color-secondary);
    box-shadow: 0 0 10px 2px var(--color-secondary);
    height: 102%;
    width: 5vw;
    transform: skewX(25deg);
    position: absolute;
    z-index: 999;
    top: -1%;
  }

  &::before {
    right: 17%;
  }
  &::after {
    right: 25%;
  }
}

@media (max-width: 1024px) {
  .features {
    &__block {
      align-self: center;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .features {
    &__block {
      width: 100%;
      gap: 1rem;
    }

    &__list {
      font-size: 1rem;
      line-height: 3rem;

      & > li > span {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }

  .lines {
    &::before,
    &::after {
      display: none;
    }
  }
}
