.footer {
  background: var(--color-primary);
  display: flex;
  margin-top: 5vw;
  padding: 5vh 15vw;
  justify-content: space-between;
  align-items: center;

  &__brand {
    display: flex;
    flex-direction: column;
  }

  &__others {
    display: flex;
    gap: 4rem;
  }

  &__logo {
    display: flex;
    margin-bottom: 2rem;

    & > img {
      width: 100px;
    }

    &--text {
      align-self: flex-end;
      font-size: 3.5rem;
      background: linear-gradient(
        0.25turn,
        var(--color-secondary) 5%,
        rgb(255, 38, 0)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__header {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__text {
    color: grey;
    list-style: none;
    line-height: 1.8;
    text-decoration: none;
    transition: 0.25s;
    margin-bottom: 1rem;

    &:hover {
      color: white;
    }
  }

  &__icon {
    font-size: 2.5rem;
    color: grey;
    line-height: 1rem;
    transition: 0.25s;

    &:hover {
      color: white;
    }
  }
}

@media (max-width: 425px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    margin-top: 5vw;
    padding: 5vh 15vw;

    &__others {
      gap: 8rem;
    }

    &__logo {
      margin-bottom: 3rem;

      & > img {
        width: 75px;
      }
    }
  }
}
