.gallery {
  max-height: max-content;
  display: grid;
  grid-template-areas:
    "a a b b b c c c"
    "a a b b b c c c"
    "d d b b b g g h"
    "d d e e f g g h"
    "d d e e k k k h"
    "i i i j k k k l"
    "i i i j k k k l";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 2rem;

  &__item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 0px var(--color-secondary);
    transition: 0.25s;

    &:hover {
      transform: scale(102%);
    }

    &--1 {
      grid-area: a;
    }
    &--2 {
      grid-area: b;
    }
    &--3 {
      grid-area: c;
    }
    &--4 {
      grid-area: d;
    }
    &--5 {
      grid-area: e;
    }
    &--6 {
      grid-area: f;
    }
    &--7 {
      grid-area: g;
    }
    &--8 {
      grid-area: h;
    }
    &--9 {
      grid-area: i;
    }
    &--10 {
      grid-area: j;
    }
    &--11 {
      grid-area: k;
    }
    &--12 {
      grid-area: l;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

@media (max-width: 425px) {
  .gallery__item {
    border-radius: 5px;
  }
}
