.hero {
  padding: 0;

  &__img {
    width: 50%;
  }
  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h3 {
      font-size: 6rem;
      text-shadow: 0 0 5px var(--color-secondary);
    }
    & > h2 {
      font-size: 8rem;
      background: linear-gradient(
        0.25turn,
        var(--color-secondary) 5%,
        rgb(255, 38, 0)
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media (max-width: 425px) {
  .hero {
    &__text {
      & > h3 {
        font-size: 2.5rem;
      }
      & > h2 {
        font-size: 3rem;
      }
    }
  }
}
