.plans {
  margin-top: 4rem;
  margin-left: auto;
  border-radius: 30px 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 3rem;
  max-height: max-content;
}

.plan {
  height: 350px;
  width: 250px;
  background: grey;
  box-shadow: 0 0 5px 1px var(--color-secondary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 4rem 3rem;
  transition: 0.25s;

  &.best {
    transform: scale(110%);
    background: teal;
    position: relative;
    overflow: hidden;

    &::before {
      content: "POPULAR";
      padding: 0.3rem 4rem;
      letter-spacing: 0.2rem;
      font-size: 1rem;
      font-weight: bold;
      position: absolute;
      left: 62%;
      top: 7%;
      transform: rotate(45deg);
      background-color: var(--color-warning);
    }
  }

  &__header {
    &--title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    &--price {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &__content {
    &::before {
      content: "";
      height: 1px;
      margin: 3rem 0;
      display: block;
      background-color: var(--color-secondary);
    }
    & > ul {
      width: max-content;
      list-style: none;
      text-align: left;
      line-height: 3rem;
      margin: auto;
      margin-bottom: 3rem;
    }

    & > button {
      padding: 1rem 2rem;
      border-radius: 150px;
      background: white;
      color: var(--color-primary);
      font-weight: 600;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 5px 5px 10px 1px var(--color-primary);

      &.best {
        background: linear-gradient(
          0.25turn,
          var(--color-secondary) 1%,
          rgb(255, 38, 0)
        );
      }

      &:hover {
        transform: scale(110%);
        box-shadow: 5px 5px 10px 3px var(--color-primary);
      }
    }
  }

  &:hover {
    transform: scale(110%);
  }
}

@media (max-width: 1024px) {
  .plan {
    transform: scale(0.9);

    &.best {
      transform: scale(1);
    }
  }
}

@media (max-width: 870px) {
  .plans {
    justify-content: space-between;
  }
  .plan {
    transform: scale(0.85);

    &.best {
      transform: scale(0.95);
    }
  }
}

@media (max-width: 768px) {
  .plans {
    flex-direction: column-reverse;
  }

  .best {
    order: 1;
  }
}
