*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-secondary);
  font-size: 1.5rem;
}

.container {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: var(--color-primary);
  box-shadow: 0 0 5px 2px var(--color-primary);
  max-height: 80vh;
  width: 95vw;
  padding: 3rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

@media (max-width: 425px) {
  .container {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
