*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-secondary);
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 40%;
  }
}
